body {
    background-color:#2E015C;
}

.List1 {
    position: absolute;
	background: url(Images/list1.png);
	width: 25%;
    height: 58%;
    left:8%;
    top: 30%
}

.List2 {
    position: absolute;
	background: url(Images/list2.png);
	width: 25%;
    height: 50%;
    left:67%;
    top: 9%
}
.container {
    position: absolute;
    width: 55%;
    height: 80%;
    left: 23%;
    top: 13%;

    background: linear-gradient(210deg,#003dce -2.6%,rgba(50, 163, 255, 1) 50%,#003dce 100%);
    border-radius: 51px;
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, 0.5);
}

.line {
    position: relative;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 1%;
    border: 2px solid #023bbed2;

    background-color: #0092e7;
}

.level {
    position: relative;
    height: 100%;
    width: 14%;
    background-color: #6BFF2F;
}

.text {
    position: relative;
    width: 60%;
    height: 50%;
    top: 25%;
    left: 20%;


    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}

.awnsers {
    position:relative;
    width: 70%;
    height: 30%;
    margin-top: 10%;

    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 7%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.2s;
    background: #004BAA;
}

.awnser img:hover{
    transform: translate(-5%,-5%);
    box-shadow: 5px 5px 1px 1px #004BAA;}